<header>
  <a href="/">Blog</a>

  <nav>
    <a href="/posts">Posts</a>
    <a href="/newPost">+ New Post</a>
    <a href="/dashboard">Dashboard</a>

    <% if(locals.user){ %>
    <a href="/profile"> <%= locals.user.username %> </a>
    <a href="/logout">Logout</a>
    <%}else{%>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
    <% } %>
  </nav>
</header>
<!-- Spagheti code -->
<style>
  header {
    background-color: #000;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    padding: 10px 70px;
  }
  header a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  header nav {
    display: flex;
  }
  header nav a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
  body {
    padding-top: 70px;
  }
</style>
