<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create new post</title>
  </head>
  <body>
    <%- include('_header.ejs') %>
    <h1>Create New Blog Post</h1>
    <form action="http://127.0.0.1:8000/newPost" method="post">
      <div>
        <label for="title">Blog Title</label>
        <input type="text" name="title" id="title" />
      </div>
      <div>
        <label for="co  ntent">Content</label>
        <textarea name="content" id="content"></textarea>
      </div>
      <div>
        <input type="submit" value="Post" />
      </div>
    </form>
  </body>
</html>
<!-- Popular Encoding and Decoding algorithms in CS -->
<!-- What is URL encoding -->
