<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiple posts page page</title>
</head>
<body>
    <h1>Multiple posts page page </h1>
</body>
</html>